.container {
  display: block;
  grid-column: 2/span 4;
}
.list {
	margin-bottom: 2.5rem;
	margin-top: 0;
  list-style: none;
  padding-left: 0;

  li {
	margin: 0;
	&:first-child {
	  margin-top: 0;
	}
	a {
	  color: white;
	  font-weight: 600;
	  display: inline-block;
	  line-height: 36px;
	  position: relative;
	  overflow: hidden;
	  &:before {
		content: '';
		height: .25rem;
		width: 100%;
		transform: scaleX(0);
		transform-origin: left;
		display: block;
		position: absolute;
		bottom: 0;
		background-color: white;
		transition: all .25s ease-in-out;
	  }
	  &:hover:before {
		transform: scaleX(100%);
		transition: all .25s ease-in-out;
	  }
	}
	&:last-child {
	  margin-bottom: 0;
	}
  }
}
