.card__tag {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: var(--colorSecondary-4);
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  padding: 4px 8px;
}
