.container {
  z-index: 41;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: var(--grid);
  gap: 0 var(--gridGap);

  > *:not([class^="inner_menu"]), > .container {
	grid-column: 2/-2;

	@media screen and (max-width: 1199px){
	  margin: 0;
	  max-width: 100%;
	  width: 100%;
	}
  }
  > header {
	display: grid;
	grid-template-columns: var(--gridinner);
	gap: 0 var(--gridGap);
  }
  @apply bg-white relative;
  & + section:not([class*="screen"]) {
	padding-top: 100px;
  }
}
.links {
  position: relative;
  z-index: 22;
  border: 0;
  color: #434445;
  font-weight: 600;
  display: inline-block;
  &:after {
	content: "";
	position: absolute;
	bottom: -6px;
	height: 4px;
	//border-radius: 30%;
	//background-image: linear-gradient(90deg, hsla(224, 18%, 21%, .5) 0%, hsla(224, 18%, 21%, 1) 35%, hsla(224, 18%, 21%, 1) 70%, hsla(224, 18%, 21%, .5) 100%);
	background-image: linear-gradient(90deg, rgb(2 72 176 / 10%), #0c419163, #0c4191c7, #0c4191,#0c4191, #0c4191c7, #0c419163, rgb(2 72 176 / 10%));
	transform: scale(0);
	width: 100%;
	filter: blur(0.025em);
	display: block;
	transition: transform .2s ease-in-out,color .25s ease-in-out .05s;
  }
  &:hover {
	&:after {
	  content: "";
	  //bor: linear-gradient(90deg, hsla(224, 18%, 21%, .5) 0%, hsla(224, 18%, 21%, 1) 35%,hsla(224, 18%, 21%, 1) 70%, hsla(224, 18%, 21%, .5) 100%);
	  //background-image: radial-gradient(#0C4191, #0C419100);
	  width: 100%;
	  transform: scale(90%) ;

	  transition: transform .2s ease-in-out,color .25s ease-in-out .05s;
	  display: block;
	}
  }
}
